/* components */

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container-fluid {
  padding: 0;
}

hr {
  margin: 0 0rem; 
  opacity: .05;
}

body {
  background-color: #a5e2f3;;
}


/* id selectors */

#intro {
  text-align: center;
  background-color: #e8f8fc;
  font-family: 'Yusei Magic', sans-serif;
  padding-top: 10rem;
  color: #1db7e2;
}

#sun {
  width: 8rem;
  position: absolute;
  left: 5rem;
  top: 2rem;
}

#who {
  /* position: absolute; */
}

#name {
  /* position: absolute; */
}

#skill {
  text-align: center;
  background-color: #d2f1f9;
  color: #1db7e2;
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Libre Baskerville', serif; */
  font-family: 'Yusei Magic', sans-serif;
  padding-top: 2rem;
    padding-bottom: 1.5rem;

}

#available {
  background-color: #bbe9f6;
  padding-top: 2rem;
    padding-bottom: 1.8rem;
    text-align: center;
    color: #1db7e2;
    font-family: 'Yusei Magic', sans-serif;
}

#footer {
  background-color: #a5e2f3;
  padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

#skill-heading {
  text-decoration: underline;
  white-space: pre-wrap;
}

#dev-img {
  margin: 0 auto;
  width: 32rem;
}

#java-pic {
  width: 4rem;
  height: 4rem;
}

#rest-pic {
  width: 5rem;
  height: 5rem;
}

#db-pic {
  width: 7rem;
  height: 6rem;
}

#spring-pic {
  width: 11rem;
    height: 6rem;
}

#angular-pic {
  width: 7rem;
}

#w3-pic {
  width: 7rem;
}

#skill1 {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
}

#skill2 {
  margin-left: 7rem;
  margin-right: 7rem;
}

#intro-breaker {
  background-color: #d2f1f9;
}

#skill-breaker {
  background-color: #bbe9f6;
}

#footer-breaker {
  background-color: #a5e2f3;
}

/* class selectors */


.skill-name {
  display: inline-block;
  margin-right: 6rem;
  margin-top: 1.3rem;
}

.skill-name-holder {
  text-align: center;
}

.skill-img-holder {
  text-align: center;
}

.social-link {
  color: #1793b5;
    font-size: 1rem;
}

.intro-breaker-b {
  background-color: transparent;
  border-top: 3px #1db7e2 groove;
}

.skill-breaker-b {
  background-color: transparent;
  border-top: 3px #1db7e2 groove;
}

.footer-breaker-b {
  background-color: transparent;
  border-top: 3px #1aa5cb groove;
}


/* mobile */

@media only screen and (min-width: 600px) {
  #intro {
    padding-top: 14rem;
  }

  #skill {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  #footer {
    padding-top: 8rem;
    padding-bottom: 7rem;
  }

  #sun {
    top: 5.5rem;
    width: 10rem;
  }

  #skill1 {
    margin-top: 4.5rem;
  }

  #available {
    padding-top: 4.5rem;
      padding-bottom: 4rem;
  }

  #name {
    font-size: 3rem;
  }

  #who {
    font-size: 3rem;
  }

  #dev-img {
    width: 39rem;
}

.avail-text {
  font-size: 1.5rem;
}

#skill-heading {
  font-size: 1.85rem;
}

.social-link {
  color: #1793b5;
    font-size: 1.5rem;
}

#java-pic {
  width: 5rem;
  height: 5rem;
}

#rest-pic {
  width: 6rem;
  height: 6rem;
}

#db-pic {
  width: 8rem;
  height: 7rem;
}

#spring-pic {
  width: 12rem;
    height: 7rem;
}

#angular-pic {
  width: 8rem;
}

#w3-pic {
  width: 8rem;
}


}